/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require app-hida-bootstrap
*= require app-hida-datatables
*= require app-hida-select2
*= require_self
*/

#list-section .buttons .btn {
    margin-top: 2px;
    margin-bottom: 2px;
}
.col-centered{
    text-align: center;
}
table.dataTable thead, table.dataTable tfoot {
    font-weight: bold;
}
.content-tab { margin-top: 20px; }
.content-tab .nav-tabs>li.active>a { font-weight: bold; }
.content-tab .nav-tabs>li.active>a, .content-tab .tab-content > .active { background-color: #f8f8f8; }
#search-section { padding-top: 10px; padding-bottom: 10px; background-color: #f8f8f8; }
#list-section .table-container { padding-bottom: 10px; padding-top: 20px;}
#detail-section .detail-form-container { padding-bottom: 10px; padding-top: 20px; }